# Required
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/?appName=ari-ani
SESSION_ID=kaori-main
QR_TOKEN=kaori-qr-secret
PREFIX=/
PORT=1234
OWNER_JIDS=923265825610

# Optional
MODS=
NAME=Kaori Miyazono
PACKNAME=Kaori Miyazono
LOG_LEVEL=info
TZ=Asia/Karachi
APP_ENCRYPTION_KEY=
BAILEYS_VERSION=2,3000,1035194821
BAILEYS_HISTORY_SYNC=default
SYNC_FULL_HISTORY=false
GOOGLE_API_KEY=
GOOGLE_SEARCH_ENGINE_ID=
WEATHER_API_KEY=
